<!--
    File: footer.ejs
    Name: Linh Nguyen
    Student ID: 301265700
    Date: October 09, 2023
-->
<footer>
    <p id="copyright">&copy; Copyright Linh Nguyen - 301265700 - Assignment 1 COMP 229</p>
</footer>