<!--
    File: header.ejs
    Name: Linh Nguyen
    Student ID: 301265700
    Date: October 09, 2023
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Portfolio</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Navigation bar -->
    <nav class="navbar">
        <div class="logo">
            <img src="/images/LN.png" alt="Linh Nguyen's Logo">
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact Me</a></li>
        </ul>
</head>
